body {
    box-sizing: border-box;
}
.alert{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.apendix__container{
    display: grid;
    grid-template-columns: auto auto auto;
}
.apendix__subtitle{
    text-align: center;
}
.apendix__list{
    border: 1px solid rgb(184, 187, 190);


/* grid-template-columns: 100px 100px 100px; */
}
.apendix__item{
   
    list-style: none;
    grid-column-gap: 2rem;

}
.bill__content--left {
    text-align: left;
}

.bill__content--center {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.bill__date {
    text-align: right;
}

.contract__button {
    text-align: center;
}

.contract__container {
    margin: 0 auto;
    text-align: left;
    border: 1px solid rgb(184, 187, 190);
    padding: 16px;
}

.contract__important {
    font-weight: bold;
    color: black;
}

.contract__item {
    list-style: none;
    flex-basis: 280px;
    margin-left: 10px;
}

.contract__link {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.contract__list {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: left;
}


.contract__content, .bill__content {
    margin: 16px auto;
    max-width: 900px;
}

.contract__paragraf, .bill__subtitle {
    text-align: center;
}

.contract__title, .bill__title {
    text-align: center;
    margin-bottom: 24px;
    margin-top: 20px;
}

.btn-box {
    margin: 16px 20px !important;
}

.employee__button {
    text-align: center;
    margin: 0 20px;
}

.employee__contracts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.employee__item {
    list-style: none;
    flex-basis: 280px;
    margin-left: 10px;
}

.employee__list {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: left;
}

.employee__title {
    margin-left: 20px;
    text-align: center;
    font-size: 20px;
}
input {
    height: auto important!;
    /* line-height: 30px; */
}